---
layout: job_family_page
title: "Sales Analytics Analyst"
---

The Sales Analytics Analyst gathers important data and compiles it into reports and presentations our sales organization can use to make critical business decisions. They take charge of an analytical project and deliver results that will make our organization more effective and efficient. The Sales Analytics Analyst has the ability to work on multiple projects simultaneously and translate business data into actionable and digestible information that improves internal decision making.

The Sales Analytics Analyst assists our sales leadership team with business case development, strategic planning, tactical execution of key objectives, and will provide support on projects identified by our Chief Revenue Officer. This position reports to the Senior Manager, Sales Strategy.

<%= partial("job-families/sales/performance", :locals => { :roleName => "Sales Analytics Analyst" }) %>

# Junior Analytics Analyst

## Responsibilities
- Perform comprehensive research and analyses
- Create models and build automation to support analyses
- Perform data integrity audits

## Requirements
- Bachelor degree in math, science, finance, or related field
- Obsessive attention to detail
- Understanding of databases, business intelligence reporting, and data visualization tools
- Self-starter with ability to drive projects to completion
* Ability to use GitLab

## Nice to Have
- Financial modeling experience
- Experience with BI Tools such as Sisense for Cloud Data Teams, Tableau, Looker, etc.
- Completion of statistical analysis and high level mathematics classes
- Experience with Customer Relationship Management (CRM) software

## Key Projects
- Tracking and reporting of key initiatives and metrics
- Creation of sales territories
- Determining propensity to buy
- Investigating data issues and providing solutions to prevent future issues

# Analytics Analyst

## Responsibilities
- Perform comprehensive research and analyses
- Perform data integrity audits
- Prepare business reviews and key metrics materials
- Create models and build automation to support analyses, identify trends and track progress

## Requirements
- Bachelor degree in math, science, finance, or related field
   - Masters degree preferred
- Demonstrated experience in managing analytical projects
- 2+ years of experience in analytics or related field
- Obsessive attention to detail
- Experience with Customer Relationship Management (CRM) software
- Understanding of databases, business intelligence reporting, and data visualization tools
- Ability to build business case presentations
- Self-starter with proven ability to drive projects to completion

## Nice to Have
- Management consulting experience
- Experience with BI Tools such as Periscope, Tableau, Looker, etc.
- Statistical analysis experience

## Key Projects
- Tracking and reporting of key initiatives and metrics
- Creation of sales territories
- Determining propensity to buy
- Total Addressable Market (TAM) analysis
- Investigating data issues and providing solutions to prevent future issues

# Senior Analytics Analyst

## Responsibilities
- Prepare business reviews, key metrics, and board meeting materials
- Perform comprehensive research and analyses
- Create models and build automation to support analyses, identify trends and track progress
- Present results to executive leadership team

## Requirements
- Bachelor degree in math, science, finance, or related field
   - Masters degree preferred
- Demonstrated experience in managing analytical projects
- Strong Excel and Structured Query Language (SQL) experience
- 4+ years of experience in analytics or related field
- Strong interpersonal and communication skills effective across all levels of management
- Obsessive attention to detail
- Experience with Salesforce CRM with an understanding of objects and ability to build reporting and dashboards
- Experience with IT systems requirements collection and management
- Strong understanding of databases, business intelligence reporting, and data visualization tools
- Ability to build business case presentations
- Self-starter with proven ability to drive projects to completion

## Nice to Have
- Management consulting experience
- Financial modeling experience
- Experience with business intelligence tools such as Periscope, Tableau, Looker, etc.
- Statistical analysis experience
- Pre and/or post sales experience (i.e., sales, customer success, services)

## Key Projects
- Capacity and headcount planning
- Creation, tracking, and management of key initiatives and metrics
- Total Addressable Market (TAM), sales territory, and propensity to buy analyses
- Customer insights captured via customer lifecycle engagements, support, Net Promoter Score (NPS) surveys, product telemetry
- Sales and Customer Success system development and enhancements
