@import "variables";

[v-cloak] > * {
  display: none;
}

.sdlc-comparison-container {
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  .hide-content {
    display: none;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;

    &:hover {
      text-decoration: underline;
    }
  }

  .tabs-body {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .tabs-container {
    border: 1px solid $color-gray-medium;
    background-color: $color-white;
    min-height: 654px;
    text-align: left;
  }

  .container-feature {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tabs {
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 0;
  }

  .tabs li {
    background-color: #e7e7e7;
    border-right: 1px solid $border-color;
    opacity: 0.6;
    width: 113.094px;
    font-size: 15px;
    margin: 0;
    display: block;

    svg {
      opacity: 0.6;
    }

    a {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #828282;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      vertical-align: top;
      text-align: center;
      padding: 20px;
      text-decoration: none;
    }

    &:hover {
      opacity: 1;
    }

    &:last-child {
      border-right: 0;
    }
  }

  .tabs .is-active  {
    background-color: $color-white;
    opacity: 1;

    a {
      color: $color-primary-alt;
    }

    a svg {
      opacity: 1;
      fill: $color-primary-alt;
    }
  }

  .tabs ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  svg {
    height: 44px;
    margin-bottom: 10px;
  }

  .features-container {
    padding: 30px 0;
  }

  .list-features {
    list-style-type: none;
    margin: 0;
    display: flex;

    a {
      margin: 20px 0;
      display: flex;
    }

    .column-feature-name {
      border-right: 1px solid $border-color;
      width: 304px;

      a {
        color: $color-primary-alt;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .column-product-icon {
    width: 114px;
    border-right: 1px solid $border-color;
  }

  .product-icon {
    margin: 0 auto;
    display: flex;
    height: 40px;
    padding: 0 10px;
  }

  .gray-filter {
    filter: grayscale(100%);
    opacity: 0.2;
  }

  .description-container {
    padding: 20px;
  }

  .card-header {
    display: none;
  }

  .container-table {
    margin: 20px 0 20px 20px;
    border-right: 1px solid #ccc;
  }

  .flex-table {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }

  .flex-cell {
    align-items: center;
    display: flex;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 113.094px;
    min-height: 72.66px;

    &.flex-cell-footnote {
      flex-direction: column;
      justify-content: center;
      padding-top: 15.5px;
    }

    h6 {
      margin-top: 2px;
      margin-bottom: 1px;
      font-size: 11px;
    }

    .gray-filter {
      filter: grayscale(100%);
      opacity: 0.2;
    }
  }

  .flex-cell:last-child {
    border-right: 0;
  }

  .product-feature {
    text-align: left;
    width: 320px;
    padding: 20px 0 20px 20px;
    word-break: break-word;
    hyphens: auto;

    a {
      color: $color-primary-alt;
      font-size: 18px;
    }
  }

  .container-hover {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 450px;
    margin: 20px auto;
    height: 654px;
    padding: 0 20px;

    h3 {
      color: $color-primary;
      margin-top: 20px;
      font-size: 28px;
    }

    p {
      color: $link-box-color;
    }
  }

  .hover-description {
    display: none;
  }

  @media only screen and (max-width: 1199px) {

    .sdlc-comparison-container {
      box-shadow: none;
    }

    .tabs-body {
      width: 100%;
      box-shadow: none;
    }

    .tabs-container {
      display: flex;
      flex-direction: column;
      justify-content: top;
      min-height: 0;
    }

    .hide-content {
      display: flex;
    }

    .card-header {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $border-color;
      padding-top: 10px;
      width: 100%;
    }

    .card-header a {
      display: inline-flex;
      color: $color-primary-alt;
      align-items: center;
      fill: $color-primary-alt;

      p {
        font-size: 26px;
        padding-left: 10px;
        margin-bottom: 12px;
        color: $color-primary-alt;
      }
    }

    .flex-cell {
      border-right: 0;
      flex-grow: 1;
      width: 40px;
      display: block;

      &.flex-cell-footnote {
        padding: 0;
      }
    }

    .product-feature {
      width: 40%;
      display: unset;
      margin-right: 5px;
      padding: 0;
    }

    .container-table {
      width: 100%;
      margin: 20px;
      border-right: 1px solid #ccc;
    }

    .container {
      width: 100%;
    }

    .hover-description {
      display: flex;
    }

    .container-hover,
    .feature-row-blank {
      display: none;
    }

    .flex-table {
      cursor: default;
    }
  }

  @media only screen and (max-width: 748px) {
    .container {
      box-shadow: none;
    }

    .tabs {
      display: none;
    }

    .tabs-container {
      width: 100%;
      margin-bottom: 20px;
      border: 0;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      align-items: center;
    }

    .container-table {
      margin: 30px 20px 30px;
      border-right: 0;
    }
  }

  @media only screen and (min-width: 749px) and (max-width: 1199px) {
    .tabs {
      display: none;
    }

    .container {
      box-shadow: none;
      background: none;
    }

    .tabs-container {
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      flex-direction: column;
      margin: 10px;
      width: 47%;
      border: 0;
    }

    .card-body {
      display: flex;
      flex-flow: row wrap;
    }

    .product-icon {
      padding: 0 3px;
    }

    .container-table {
      border-right: 0;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .sdlc-comparison-container {
    box-shadow: none;
  }
}
