---
layout: markdown_page
title: How GitLab is Enterprise Class
canonical_path: "/solutions/enterprise-class/"
---

= partial('includes/enterprise-class/gitlab-enterprise-class.md')

%hr
  This page can be downloaded as
  %a{href: 'enterprise-considerations.pdf'}
    PDF.
